<table border="1" style="width: 100%;">
    <thead>
      <tr>
        <td>hafta</td>
        <td>ATT-2001</td>
        <td>ATT-2001</td>
        <td>ATT-2001</td>
        <td>ATT-2001</td>
        <td>ATT-2001</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3">Dushanba</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
      <tr>
        <td rowspan="3">Seshanba</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td></td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
      <tr>
        <td rowspan="3">Chorshanba</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
        <td>Lorem ipsum dolor sit amet consectetur.</td>
      </tr>
    </tbody>
  </table>
