<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      padding: 0;
      border: 1px solid black;
      text-align: center;
    }
    th {
      color: red;
      font-weight: bold;
    }
    .day-header,
    .week-header {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      color: red;
      font-weight: bold;
      width: 50px;
      transform: rotate(180deg);
    }
    .time-header {
      background-color: #b0b0b0;
      font-weight: bold;
    }
    .week-header {
      font-weight: bold;
    }

    p {
      margin: 0;
      padding: 5px 0px;
      border-bottom: 2px solid black;
    }
    </style>
    <title>Jadval</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th rowspan="2" class="week-header">HAFTA</th>
          <th colspan="1">TM-2001KU</th>
          <th colspan="1">TM-2002KU</th>
          <th colspan="1">TM-2003KR</th>
          <th colspan="1">AT-2001KU</th>
          <th colspan="1">AT-2002KU</th>
          <th colspan="1">AT-2003KU</th>
          <th colspan="1">AT-2004KR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="day-header">DUSHANBA</td>
          <td class="day-group">
            <p>11Sonli usullar, o'qit. N.Doniyorov, amaliyot, A-503</p>
            <p>11Sonli usullar, o'qit. N.Doniyorov, amaliyot, A-503</p>
            <p>11Sonli usullar, o'qit. N.Doniyorov, amaliyot, A-503</p>
          </td>
          <td class="day-group">
            <p>22Sonli usullar, o'qit. N.Doniyorov, amaliyot, A-503</p>
          </td>
          <td class="day-group">
            <p>33Sonli usullar, o'qit. N.Doniyorov, amaliyot, A-503</p>
            <p>33Sonli usullar, o'qit. N.Doniyorov, amaliyot, A-503</p>
          </td>
        </tr>
        <tr>
          <td class="day-header">SESHANBA</td>
          <td>Sonli usullar, dots. M.Xudoyberganov, ma'ruza, A-202</td>
          <td>Fizika, prof. T.Tulaganov, amaliyot, A-413</td>
          <td>
            Matematika va informatika o'qitish metodikasi, dots. F.Kabijanov,
            amaliyot, A-202
          </td>
          <td>
            Axborot tizimlarining standartlari, dots. B.Ismailov, seminar, A-216
          </td>
          <td>LMS tizimlari, o'qit. N.Choryorov, amaliyot, A-413</td>
          <td>LMS tizimlari, o'qit. N.Choryorov, ma'ruza, A-416</td>
          <td>
            Matematika va informatika o'qitish metodikasi, dots. F.Kabijanov,
            amaliyot, A-218
          </td>
        </tr>
        <tr>
          <td class="day-header">CHORSHANBA</td>
          <td>Sonli usullar, o'qit. D.Karimov, amaliyot, A-216</td>
          <td>
            Kompyuter grafikasiga kirish, o'qit. R.Saidov, amaliyot, A-202
          </td>
          <td>
            O'zbek tilini o'qitish metodikasi, dots. A.Xakimov, ma'ruza, A-218
          </td>
          <td>Mobil ilovalar yaratish, o'qit. S.Karimov, amaliyot, A-202</td>
          <td>
            Berilganlar tahliliga kirish, o'qit. E.Navruzov, amaliyot, A-202
          </td>
          <td>LMS tizimlari, o'qit. N.Choryorov, ma'ruza, A-218</td>
          <td>
            Matematika va informatika o'qitish metodikasi, dots. F.Kabijanov,
            seminar, A-214
          </td>
        </tr>
        <tr>
          <td class="day-header">PAYSHANBA</td>
          <td>Fizika, prof. T.Tulaganov, amaliyot, A-216</td>
          <td>Sonli usullar, dots. M.Xudoyberganov, ma'ruza, A-202</td>
          <td>
            O'zbek tilini o'qitish metodikasi, dots. A.Xakimov, ma'ruza, A-218
          </td>
          <td>
            Axborot tizimlarining standartlari, dots. B.Ismailov, seminar, A-216
          </td>
          <td>LMS tizimlari, o'qit. N.Choryorov, amaliyot, A-216</td>
          <td>Mobil ilovalar yaratish, o'qit. J.Salims, amaliyot, A-202</td>
          <td>
            Axborot tizimlarining standartlari, dots. B.Ismailov, seminar, A-214
          </td>
        </tr>
        <tr>
          <td class="day-header">JUMA</td>
          <td>Fizika, prof. T.Tulaganov, amaliyot, A-216</td>
          <td>Sonli usullar, dots. M.Xudoyberganov, ma'ruza, A-202</td>
          <td>
            Axborot tizimlarining standartlari, dots. B.Ismailov, seminar, A-216
          </td>
          <td>LMS tizimlari, o'qit. N.Choryorov, amaliyot, A-218</td>
          <td>
            O'zbek tilini o'qitish metodikasi, dots. A.Xakimov, ma'ruza, A-218
          </td>
          <td>Big data tahlili, o'qit. N.Qurbonov, amaliyot, A-218</td>
          <td>
            Berilganlar tahliliga kirish, o'qit. E.Navruzov, amaliyot, A-214
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
